# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
simple_web_server-*.tar

*.elixir
*.elixir_scm
*.protocols
*.xref
*.beam
.elixir_ls/build/test/lib/simple_web_server/ebin/simple_web_server.app
.elixir_ls/dialyzer_manifest_21.0.1_elixir-1.7.3_test
